<div style="text-align: center;">
    <hr>
    <img src="../../../assets/images/logo.jpg" alt="Foto" height="150px" width="70%">
</div>
<br>
<h2 style="text-align: center; font-size: 30px;"><strong>Bienvenido</strong></h2>
<h5 style="text-align: center; font-size: 18px;">
    Te encuentras en estos momentos en el area de administración, con tus privilegios puedes realizar las siguientes acciones:
</h5>
<br>
<hr>
<div class="row" style="width: 100%;">
    <div class="col-5 offset-1">
        <!-- <button class="btn btn-outline-dark">
            <mat-icon class="mat-18">account_circle</mat-icon>
            Acceso a tu perfil "perfil"         
        </button> -->
        <button class="btn btn-outline-dark">
            <mat-icon class="mat-18">people</mat-icon>
            Gestionar <strong>Usuarios</strong>
        </button>
        <button class="btn btn-outline-dark">
            <mat-icon class="mat-18">domain</mat-icon>
            Gestionar <strong>Productos</strong>
        </button>
        <button class="btn btn-outline-dark">
            <mat-icon class="mat-18">computer</mat-icon>
            Gestionar <strong>Proveedores</strong>
        </button>
    </div>
    <div class="col-6">
        <button class="btn btn-outline-dark">
            <mat-icon class="mat-18">group_work</mat-icon>
            Gestionar <strong>Inventario</strong>
        </button>
        <button class="btn btn-outline-dark">
        <mat-icon class="mat-18">book</mat-icon>
        Gestionar <strong>Clientes</strong>
        </button>
        <button class="btn btn-outline-dark">
        <mat-icon class="mat-18">calendar_today</mat-icon>
        Reportes Ventas
        </button>
    </div>
</div>    
