<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
          <mat-nav-list class="side-navnar" style="font-size: 20px; text-align: center;">
            <br>
            <h3 style="font-size: 25px;">COMERCIAL</h3>
            <h3 style="font-size: 25px;">FERRETERIA Y BARRACA</h3>
            <h3 style="font-size: 25px;">FERR OLAM</h3>
            <br>
          </mat-nav-list>
          <br>
          <mat-nav-list class="side-navnar">
            <a class="menu1" mat-list-item routerLink="/home/home"> <mat-icon>home</mat-icon>Inicio</a>
            <a class="menu1" mat-list-item routerLink="/home/login"> <mat-icon>input</mat-icon>Iniciar Sesion</a>
            <a class="menu1" mat-list-item routerLink="/home/acerca"> <mat-icon>info</mat-icon>Acerca de...</a>
          </mat-nav-list>    
          <br>
          <br>
          <br>
          <br>
          <br>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar>
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>Menu</span>
      </mat-toolbar>
    </mat-sidenav-content>
  </mat-sidenav-container> -->
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <!-- <a class="navbar-brand" href="#">FERR-OLAM</a> -->
  <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>

  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
              <a class="nav-link" routerLink="/home/home">
                <mat-icon class="icono">home</mat-icon>
                Inicio<span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/home/login">
              <mat-icon class="icono">input</mat-icon>
              Iniciar Sesion
            </a>
          </li>
      </ul>
  </div>
</nav>
  
    <router-outlet></router-outlet>